@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lightBG($color) {
    content: '';
    position: absolute;
    inset: 0;
    background: $color;
    opacity: 0.2;
}


// MEDIA QUERY MANAGER

/*
0 - 600px:  Phone
600 - 900px Tablets Landscape
900 - 1200px Tablet Landscape
1800 - Desktops
*/

/*
$breakpoint argument choice:
- phone
- tab-port
- tab-land
- big-desktop
*/

// @mixin respond($breakpoint) {
//     @if $breakpoint == phone {
//         @media (max-width: 37.5em) { @content };             // 600px = 600px/16px
//     }
//     @if $breakpoint == tab-port {
//         @media (max-width: 56.25em) { @content };      // 900px
//     }
//     @if $breakpoint == tab-land {
//         @media (max-width: 75em) { @content };      // 1200px
//     }
//     @if $breakpoint == big-desktop {
//         @media (min-width: 112.5em) { @content };       // using min-width here to target range >= 1800px
//     }
// }


// adding only screen which makes sure that media query will only apply to screens not to other things such as printers etc. it a good practice.

@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media only screen and (max-width: $bp-sm) { @content };             // 600px = 600px/16px          
    }
    @if $breakpoint == md {
        @media only screen and (max-width: $bp-md) { @content };             // 600px = 600px/16px
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: $bp-lg) { @content };             // 600px = 600px/16px
    }
    @if $breakpoint == xl {
        @media only screen and (max-width: $bp-xl) { @content };             // 600px = 600px/16px
    }
    @if $breakpoint == xxl {
        @media only screen and (max-width: $bp-xxl) { @content };             // 600px = 600px/16px
    } @else {                                               
        @media only screen and (max-width: $breakpoint) { @content };         // by default set the received value.
    }
}



