.home {
    
    padding: 1.4em;
    // height: 88vh;
    
    @include respond(md) {
        padding: 0.3em;
    }

    & .content-box {
        display: flex;

        @include respond(md) {
            flex-direction: column;
        }
    }

    & .pane-block {
        padding: 1em;
    }

    & .pane-left {
        border: 1px solid #80808052;
        border-left: none;
        width: 70%;

        @include respond(md) {
            border: none;
            width: 100%;
            order: 1;
        }
    }

    & .pane-right {
        border: 1px solid #80808052;
        border-left: none;
        border-right: none;
        width: 30%;

        @include respond(md) {
            border: none;
            width: 100%;
        }

        & .basic_table {

            font-size: 1.5em;

            & th {
                white-space: nowrap;
            }
    
            & td {
                white-space: wrap;
            }

        }

    }

    & .card-wrapper {
        border-radius: 1em;
        color: white;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        width: 100%;

        & .home-card {
            background: #f2f9ff;
            background: var(--bg);
            padding: 1.7em;
            border-radius: 0.5em;
            color: white;
            white-space: nowrap;
            font-family: "JOSEFIN SANS";
            position: relative;
            overflow: hidden;
            min-width: 48%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            @include respond(md) {
                width: 100%;
                padding: 1.5em;
            }

            &::before {
                position: absolute;
                content: "";
                background: linear-gradient(40deg, transparent ,transparent, rgb(255 255 255 / 27%), transparent, transparent);
                transition: 0.6s ease-in-out;
                transform: translateX(-100%);
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }

            &:hover::before {
                transform: translateX(100%);
            }

            & > a {
                color: white;
                text-decoration: none;
            }

            & h1 {
                font-size: 2.9em;
                margin-bottom: 0;
                position: relative;
                // color: #393939;

                & .toggler {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            &.other-services {
                min-width: 98%;

                & .custom-dropdown {
                    background: white;
                    border: 1px solid #e5e5e5;
                    margin: 1em -1.7em -0.7em;

                    & table {
                        font-size: 1.4em;
                        margin-bottom: 0;
                        cursor: auto;
                        min-width: 55rem;

                        & td, & th {
                            padding: 0.5em;
                            color: black;
                            border: 1px solid #e1e1e1;
                        }

                        & .form-control {
                            border: 1px solid #cfcfcf;
                        }

                        & .bx-x-circle {
                            font-size: 1.4em;
                            color: orangered;
                            vertical-align: sub;
                        }

                        & .input-group-text {
                            font-size: 1em;
                        }
                    }

                    & .search-results {
                        border-radius: 0;
                        font-family: "JOSEFIN SANS";
                        font-size: 0.7em;
                    }
                }
            }
        
        }
    }

}